<script>
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { getArtist, getAlbums, getAlbumTracks } from '../api/spotify.js';
import { formatDurationMsToDurationMins, getYear } from '../utils/format.js';

export default {
  name: 'Artist',
  setup() {
    const route = useRoute();

    const artist = ref(null);
    const albums = ref([]);
    const artistId = route.params.id;

    const getSpotifyArtist = async () => {
      artist.value = await getArtist(artistId);
    };
    getSpotifyArtist();

    const getArtistAlbums = async () => {
      const albumsInfo = await getAlbums(artistId);
      albums.value = albumsInfo.items;

      for (const album of albums.value) {
        const albumTracks = await getAlbumTracks(album.id);
        album.tracks = albumTracks;
      }
    };
    getArtistAlbums();

    return {
      artist,
      albums,
      getArtistAlbums,
      formatDurationMsToDurationMins,
      getYear
    };
  },
};
</script>

<template>
  <div class="grid w-full gap-4">
    <div class="p-4">
      <h1 class="flex text-left my-4 text-xl text-white font-bold">
        {{ artist?.name }}
      </h1>
      <div class="grid">
        <div v-for="album in albums" :key="album.id">
          <div class="flex gap-4">
            <img class="object-scale-down h-32 rounded-t-lg p-2 hidden lg:block" :src="album.images[0].url">
            <div class="flex flex-col">
              <h4 class="mb-2 lg:text-xl font-bold tracking-tight text-white">{{ album.name }}</h4>
              <p class="mb-3 text-sm lg:text-base text-gray-400">Album &#x2022 {{ getYear(album.release_date) }} &#x2022 {{ album.total_tracks }} titres</p>
            </div>
          </div>
          
          <div class="pb-8" v-if="album.tracks && album.tracks.length">
            <div class="flex text-gray-400">
              <div class="p-2 w-12">#</div>
              <div class="p-2 w-full">Titre</div>
              <div class="p-2 w-24">Popularité</div>
              <div class="p-2 w-12 flex-shrink-0 text-right">⏱</div>
            </div>
            <div>
              <div class="flex border-b border-gray-800 hover:bg-neutral-600 text-white" v-for="(track, index) in album.tracks" :key="track.id" >
                <div class="p-3 w-12">{{ index }}</div>
                <div class="p-3 w-full">{{ track.name }}<br>{{ track.artists.map(a => a.name).join(', ') }}</div>
                <div class="p-3 w-24">{{ track.popularity }}</div>
                <div class="p-3 w-12 flex-shrink-0 text-right">{{ formatDurationMsToDurationMins(track.duration_ms) }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
</style>