<script>
import SearchArtist from '../components/SearchArtist.vue';
import History from '../components/History.vue';
import { router } from "../router";

export default {
  name: 'Home',
  components: {
    SearchArtist,
    History,
  },
  setup() {
    const goToArtistPage = async (selectedArtist) => {
      if (localStorage.getItem('history')) {
        const previousSearches = JSON.parse(localStorage.getItem('history') || '[]');
        if (previousSearches.length >= 5) {
          previousSearches.pop();
        }
        previousSearches.unshift(selectedArtist);
        localStorage.setItem('history', JSON.stringify(previousSearches));
      } else {
        localStorage.setItem('history', JSON.stringify([selectedArtist]));
      }
      router.push({ path: '/artist/' + selectedArtist.id });
    };

    return {
      goToArtistPage,
    };
  },
};
</script>

<template>
  <div class="flex flex-col">
    <div class="flex-1">
      <SearchArtist @select-artist="goToArtistPage" />
      <History @select-artist="goToArtistPage" />
    </div>
  </div>
</template>

<style scoped>

</style>
