<template>
    <div class="h-12 align-left pl-12 pt-4">
		<router-link to="/">
			<h1 class="text-2xl font-sans font-bold text-white">Antidots spotify</h1>
		</router-link>
	</div>
</template>

<style scoped>
</style>
