<script>
import { ref } from 'vue';

export default {
  name: 'History',
  setup() {
    const history = ref([]);

    const getHistory = () => {
      const localHistory = localStorage.getItem('history');
      if (localHistory) {
        history.value = JSON.parse(localHistory);
      }
    };
    getHistory();

    return {
      history,
    };
  },
};
</script>

<template>
  <div class="w-full">
    <div class="mx-4 px-6 rounded-lg">
      <h5 class="mb-3 font-sans font-bold text-xl text-white">
        Historique
      </h5>
      <ul v-if="history.length" class="my-4 space-y-3">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 flex-wrap gap-3">
          <li v-for="artist in history">
            <router-link :to="`/artist/${artist.id}`">
              <a href="#"
                class="flex items-center p-3 font-sans font-bold rounded-lg group hover:bg-neutral-600 hover:shadow bg-neutral-700">
                <img class="object-scale-down h-16" :src="artist.image">
                <span class="flex-1 ml-3 whitespace-nowrap text-white">{{ artist.name }}</span>
              </a>
            </router-link>
          </li>
        </div>
      </ul>
      <p v-else class="text-xs text-white">Aucun historique</p>
    </div>
  </div>


</template>

<style scoped>

</style>
