<script>
import { ref } from 'vue';
import { searchArtist } from '../api/spotify.js';

const value = ref('');
const artists = ref([]);

export default {
  name: 'SearchArtist',
  emits: ['selectArtist'],
  setup(_, { emit }) {

    const handleInput = async () => {
      if (value.value.length > 0) {
        artists.value = await searchArtist(value.value);
      }
    };

    const emitArtist = (item) => {
      emit('selectArtist', {
        id: item.id,
        name: item.name,
        image: item.images[0].url,
      });
    };

    const handleEnter = () => {
      if (artists.value.length > 0) {
        emitArtist(artists.value[0]);
      }
    };

    return {
      value,
      artists,
      handleInput,
      handleEnter,
    };
  },
};
</script>

<template>
  <div class="w-full">
    <div class="m-4 p-6">
      <div class="relative">
        <div class="w-fit">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </div>
          <input v-model="value" @keyup="handleInput" @keyup.enter="handleEnter(artists[0])" type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
        </div>
      </div>
    </div>
  </div>


</template>

<style scoped>

</style>
