<script>
import { useStore } from 'vuex';
import { onMounted } from 'vue';
import { RouterView } from 'vue-router';

import Header from './components/Header.vue';

export default {
    name: 'App',
    components: {
        Header,
        RouterView,
    },
    setup() {
        const store = useStore();

        onMounted(async () => {
            await store.dispatch('getToken');
        });

        return {};
    },
};
</script>

<template>
    <div class="flex flex-col min-h-screen bg-stone-900">
        <Header />
        <div class="flex-1">
            <router-view />
        </div>
    </div>
</template>

<style>
</style>